.hc-section-1 {
    background-color: #FFFFFF;

    .hc-s1-p1 {
        font-size: 16px;
        font-weight: bold;

        .hc-s1-p1-hp {
            color: #003553;
            margin-left: 10%;
            text-decoration: none;
        }

        .hc-s1-p1-hc {
            background: linear-gradient(83.63deg, #00b5f1 33.34%, #00e0ff 113.91%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            cursor: pointer;
        }
    }

    .hc-s1-p2 {
        width: fit-content;
        margin: 0 auto;

        .hc-s1-p2-title {
            color: #00b5f1;
            font-weight: bolder;
            font-size: 39px;
            margin-bottom: 8px;
            line-height: 48px;
            font-family: Montserrat, sans-serif !important;
        }

        .hc-s1-p2-description {
            color: #003553;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            font-family: Roboto, sans-serif !important;
        }

        .has-search {
            width: 600px;
            position: relative;

            .form-control {
                padding-left: 2.375rem;
                height: 50px;
                border-radius: 10px;
                padding-left: 50px;
                border: none;
                box-shadow: 4px 8px 30px 0 rgba(177, 196, 218, .35);
            }

            .form-control-feedback {
                position: absolute;
                z-index: 2;
                display: block;
                width: 3rem;
                height: 3rem;
                line-height: 2.375rem;
                text-align: center;
                pointer-events: none;
                color: #aaa;
                top: 15%;
                left: 1%;
            }
        }
    }
}

.hc-section-2 {
    background-color: #E8F2F7;

    .hc-s2-container {
        max-width: 1180px !important;
        margin: 0 auto;

        .hc-s2-card {
            background-color: #FFFFFF;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            cursor: pointer;
            border: 2px solid transparent;
            font-family: Roboto, sans-serif !important;

            .hc-s2-img {
                width: 90px;
                height: 90px;
            }

            .hc-s2-name {
                font-weight: bold;
                font-size: 25px;
                line-height: 29px;
                margin-bottom: 12px;
                width: 90%;
                color: var(--primary-body-text, #003553);
            }

            .hc-s2-address {
                font-size: 17px;
                line-height: 21px;
                color: #858585;
                margin-bottom: 12px;

            }

            .hc-s2-price {
                color: #ffb54a;
                font-size: 20px;
                line-height: 23px;

                span {
                    font-weight: bold;
                }
            }

            .hc-s2-button {
                background: linear-gradient(83.63deg, #00b5f1 33.34%, #00e0ff 113.91%);
                color: #fff;
                height: 42px !important;
                border: none;
                padding: 10px 16px;
                width: 167px;
                transition: all .3s ease;
                border-radius: 30px;
                font-weight: bold;
                font-size: 16px;
                line-height: normal;
            }
        }

        .hc-s2-card:focus {
            border-color: #00B5F1;
        }
    }

    .hc-s2-sidecontent {
        background-color: #FFFFFF;
        border-radius: 20px;
        text-align: center;
        font-family: Roboto, sans-serif !important;

        .hc-s2-sc-img {
            width: 200px;
            height: 200px;
        }

        .hc-s2-sc-name {
            font-weight: bold;
            font-size: 20px;
            line-height: 23px;
            background: linear-gradient(40deg, #00b5f1, #00e0ff);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }

        .hc-s2-sc-address {
            margin-top: 5px;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: rgba(0, 0, 0, .85);
        }

        .temp-description {
            text-align: justify;
            border-top: 1px solid #D8D8D8;
        }
    }
}