.bc-container {
    background-color: #E8F2F7;
    padding: 3% 10%;

    .bc-s1 {
        width: 350px;

        .bc-s1-title {
            background-color: #00BFF4;
            padding: 3%;
            font-family: Roboto, sans-serif !important;
            background: #1da1f2;
            color: #fff;
            padding: 12px 16px;
            background: linear-gradient(36deg, #00b5f1, #00e0ff);
            font-size: 18px;
            font-weight: 500;
            line-height: normal;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .bc-s1-info {
            background-color: white;
            padding: 12px 16px;

            .bc-s1-des {
                border-top: 1px solid #BFBFBF;
            }
        }
    }

    .bc-s2 {
        background-color: #FFFFFF;
        padding: 0;

        .bc-s2-title {
            background-color: #00BFF4;
            padding: 3%;
            font-family: Roboto, sans-serif !important;
            background: #1da1f2;
            color: #fff;
            padding: 12px 16px;
            background: linear-gradient(36deg, #00b5f1, #00e0ff);
            font-size: 18px;
            font-weight: 500;
            line-height: normal;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            text-align: center;
        }

        .bc-s2-card {
            background-color: #FFFFFF;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            cursor: pointer;
            border: 2px solid transparent;
            font-family: Roboto, sans-serif !important;
            margin: 0 20px;

            .bc-s2-img {
                width: 90px;
                height: 90px;
            }

            .bc-s2-name {
                font-weight: bold;
                font-size: 25px;
                line-height: 29px;
                margin-bottom: 12px;
                width: 90%;
                color: var(--primary-body-text, #003553);
            }

            .bc-s2-address {
                font-size: 17px;
                line-height: 21px;
                color: #858585;
                margin-bottom: 12px;

            }

            .bc-s2-price {
                color: #ffb54a;
                font-size: 20px;
                line-height: 23px;

                span {
                    font-weight: bold;
                }
            }

            .bc-s2-button {
                background: linear-gradient(83.63deg, #00b5f1 33.34%, #00e0ff 113.91%);
                color: #fff;
                height: 42px !important;
                border: none;
                padding: 10px 16px;
                width: 167px;
                transition: all .3s ease;
                border-radius: 30px;
                font-weight: bold;
                font-size: 16px;
                line-height: normal;
            }
        }

        .bc-s2-card:hover {
            border-color: #00B5F1;
        }
    }


}